name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [12, 14, 16]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.4

      - name: Install node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node }}

      - run: yarn install

      - run: yarn test

      - run: yarn run build
