name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 16
          - 18

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.1.1

      - name: Install node
        uses: actions/setup-node@v4.0.1
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run build

      - run: npm test

      - run: npm run package
