name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 3

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 20
          - 22

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4.2.2

      - name: Install node
        uses: actions/setup-node@v4.3.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm run lint

      - run: npm run build

      - run: npm run package
